<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frontalmind.blinklight"
    android:versionCode="11"
    android:versionName="1.61">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
 
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" 
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        
        <activity android:name=".preference.FragmentPreferences"
          	android:label="@string/fragment_preferences"
          	android:enabled="@bool/atLeastHoneycomb">
   		</activity>
        
    </application>

</manifest>